
css
/* General styles */
.App {
  text-align: center;
}

.slider-image {
  width: 100%;
  height: auto;
}

@keyframes spinZoom {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    transform: rotate(0deg) scale(0.5);
  }
  54% {
    transform: rotate(360deg) scale(.9);
  }
  80% {
    transform: rotate(360deg) scale(.9);
  }
  84% {
    transform: rotate(360deg) scale(.9);
  }
  100% {
    transform: rotate(1080deg) scale(0.5);
  }
}

.App-logo {
  margin-top: 2rem;
  min-height: 60vh;
  border-radius: 50%;
  animation: spinZoom 12s infinite;
}

.Slogan {
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: fantasy;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0), 5px 5px 5px rgb(255, 0, 0);
}


.menu-container{
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  flex-direction: column;

}

.App-menu{
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */

}

.Banner {
  width: 100%;
  height: 200px;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px 2px rgb(239, 5, 5), 5px 5px 5px rgb(255, 0, 0);
  align-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: fantasy;
  background: linear-gradient(180deg, rgba(238, 240, 5, 1) 0%, rgba(231, 223, 26, 0.978) 35%, rgba(229, 242, 6, 0.468) 100%);
  border-bottom: 4px solid red;
  background-image: url('../public/images/banner.jpg');
  background-size: cover; /* Para asegurar que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  /* Otros estilos opcionales para el fondo */
  background-repeat: no-repeat; /* Para evitar que la imagen se repita */
}

.App-menu {
 width: 90%;
  animation: 8s infinite;
}

.App-desarrollo {
  font-size: 2rem;
  color: yellow;
  text-shadow: -2px -4px 4px red;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PhoneNumber {
  font-size: 2rem;
  color: aliceblue;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .App-logo {
    min-height: 50vh;
  }
  .Slogan {
    font-size: 1.8rem;
  }
  .Banner {
    font-size: 2.5rem;
  }
  .App-desarrollo {
    font-size: 1.8rem;
  }
  .PhoneNumber {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .App-logo {
    min-height: 40vh;
  }
  .Slogan {
    font-size: 1.6rem;
  }
  .Banner {
    font-size: 2rem;
  }
  .App-desarrollo {
    font-size: 1.6rem;
  }
  .PhoneNumber {
    font-size: 1.6rem;
 

  }}


  .footer{
    border-top: 4px solid #a60707;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(238, 240, 5, 1) 0%, rgba(231, 223, 26, 0.978) 35%, rgba(229, 242, 6, 0.468) 100%);
    
  }
   

  .container-footer{
    display: flex;
    justify-content: space-between;
  }



  slider-container{
    width: 100%;
  }


  /* src/App.css */
.App-logo {
  width: 100%;
  height: auto;
}
.Carousel .d-block.w-100 {
  width: 100%;
  height: auto;
}
